{% extends 'base.html' %} <!--从基本模板扩展-->
{% block title %}审核文章{% endblock %} <!--首页标题-->
{% block css %}
<style>

    .pull-left {
      float: left !important;
    }
    .pull-right {
      float: right !important;
    }

    .element {
      .pull-left();
    }
    .another-element {
      .pull-right();
    }

</style>
{% endblock %}
{% block content %} <!--重写内容块-->

    {% for article in articles %} <!--从分页的对象列表中遍历文章-->
         <!--显示文章的面板-->
         <div id="app">
            <div class="panel panel-default">
            <div class="panel-heading"> <!--面板的头部-->
                <h3 class="panel-title"> <!--放置内容标题-->
                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a>
                </h3>
            </div>
            <div class="panel-body"> <!--面板的主体-->
                <p>作者：{{ article.author.nickname }} &nbsp;日期：{{ article.pub_time }}
                </p>
                <p>{{ article.content|truncatechars:200|striptags }}</p> <!--过滤器用于仅显示200字符和去除HTML标签-->
                <a class="btn" href="{% url 'updateArticle' article.id %}">编辑</a>
                <a class="btn" href="{% url 'detail' article.id %}">进入阅读</a>
{#                {% if request.session.nickname == article.author.nickname%}#}
                <a class="btn" href="{% url 'delete' article.id %}" onclick="return confirm('确认要删除？')">删除</a>
{#                {% endif %}#}
{#                {% if article.status.id == 2 %}#}
{#                    <small class="col align-self-end" style="color: black;font-size: 13px;">#}
{#                          浏览量: {{ article.total_views }}#}
{#                    </small>#}
{#                {% endif %}#}
                {% if article.status.id == 2 %}
{#                    <small class="col align-self-end" style="color: green;font-size: 13px;">#}
{#                          审核中#}
{#                    </small>#}
{#                <input type="hidden" id="status1" name="status1" value="{{ article.id }}">#}
{#                        <li class="dropdown">#}
{#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">审核状态<strong#}
{#                                    class="caret"></strong></a>#}
{#                            <ul class="dropdown-menu">#}
{#                                {% for status in status %}#}
{#                                <li>#}
{#                                    <a href="javascript:;" onclick="changeStatu({{ status.id }}, {{ article.id }})">{{ status.name }}</a>#}
{#                                </li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </li>#}
                <button type="button" class="btn btn-primary" style="margin-left: 500px;" onclick="change({{ article.id }})">
                    审核
                </button>
                <div id="a" style="display:none; position:absolute;transform: translate(-50%, -50%);left:500px; top:150px; width:300px; height:300px; border:1px solid #999999;background: white">
                    <div id="panel" class="card-header title" style="color: black;font-size: 20px;background-color: #999999">审核文章
                        <button id="b" type="button" class="close" aria-label="Close" style="margin-right: 10px"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <br>
                    <form method="POST" action="/changeStatus/" id="fm1">
                        {% csrf_token %}
                        <input type="hidden" id="sta" name="sta">
                        <div class="form-group">
                            <label for="status" style="font-size: 18px">审核状态</label>
                            <select class="form-control"
                                    id="status"
                                    name="status"
                                    onchange="change1()"
                            >
{#                               {% for status in status %}#}
                            <option value="3">审核通过</option>
                            <option value="1">审核未通过</option>
{#                               {% endfor %}#}
                            </select>
                        </div>
                        <div id="addReason" class="form-group" style="display: none">
                        <label for="tag" style="font-size: 18px">原因：</label>
                        <textarea type="text"
                                  class="form-control col-3"
                                  id="reason"
                                  name="reason"
                        ></textarea>
                        </div>
                     <br>
                     <button type="submit" class="btn btn-default" style="margin-left: 110px;">完成</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
<script>
     function change(id) {
          document.getElementById('a').style.display = 'block';
          $('#sta').val(id);
          {#document.getElementById("status").options[0].selected=true;#}
          {#console.log(id, '1111');#}

     }
     function change1(){
         console.log(document.getElementById("status").value);
         id = document.getElementById("status").value
         if(id == 1){
             document.getElementById('addReason').style.display = 'block';
         }else {
             document.getElementById('addReason').style.display = 'none';
         }
     }

     document.getElementById('b').onclick = function(){
            document.getElementById('a').style.display = 'none';
     };

    function  changeStatu(id, pd) {
        $.ajax({
                url: url,
                type: "post",
                dataType: "json",
                data: { "sta": pd, "id": id },
                success: function (res) {
                if (res.code == 1) {
                //关闭对话框
                $('#roleModal').modal('hide');
                 //刷新页面
                window.location.href = "/role/index";
                }
                alert(res.message);
                }
        });
    }

function Mover(id) {
        this.obj = document.getElementById(id);
        this.startx = 0;
        this.starty;
        this.startLeft;
        this.startTop;
        this.mainDiv = this.obj.parentNode;
        this.isDown = false;
        this.originIndex = this.mainDiv.style.zIndex;
        var that = this;

        this.movedown = function (e) {
            e = e ? e : window.event;
            if (!window.captureEvents) {
                this.setCapture();
            }

            that.isDown = true;
            that.obj.style.cursor = 'move';
            that.mainDiv.style.zIndex = 1000;

            that.startx = e.clientX;
            that.starty = e.clientY;
            that.startLeft = parseInt(that.mainDiv.offsetLeft);
            that.startTop = parseInt(that.mainDiv.offsetTop);
        }
        this.move = function (e) {
            e = e ? e : window.event;
            if (that.isDown) {
                that.mainDiv.style.left = e.clientX - (that.startx - that.startLeft) + "px";
                that.mainDiv.style.top = e.clientY - (that.starty - that.startTop) + "px";
            }
        }
        this.moveup = function () {
            that.isDown = false;
            that.obj.style.cursor = 'default';
            that.mainDiv.style.zIndex = that.originIndex;
            if (!window.captureEvents) {
                this.releaseCapture();
            }
        }
        this.obj.onmousedown = this.movedown;
        this.obj.onmousemove = this.move;
        this.obj.onmouseup = this.moveup;

        //非ie浏览器
        document.addEventListener("mousemove", this.move, true);
    }

    var mover1 = new Mover("panel");

</script>

    {% endfor %}
    {% if articles %}
    {% include 'paginator.html' %}
    {% endif %}
{% endblock %}
