{% extends 'base.html' %} <!--从基本模板扩展-->
{% block title %}文章{% endblock %} <!--首页标题-->
{% block css %}
<style>
    .bg_mask {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #999999;
        z-index: 2000;
        -moz-opacity: 0.95;
        opacity: 0.6;
        filter: alpha(opacity = 95);
    }

    {% comment %}#popDiv {
        width: 300px;
        height: 400px;
        z-index: 2005;
        display: none;
        position: absolute;
        margin-top: 10%;
        margin-left: 40%;
        background-color: #FFF;
    }{% endcomment %}
   #popDiv {
        width: 400px;
        height: 200px;
        z-index: 2005;
        display: none;
        position: absolute;
        margin-top: 20%;
        margin-left: 40%;
        background-color: #FFF;
        border-radius:10px;
    }

</style>
{% endblock %}
{% block content %} <!--重写内容块-->
    <div class="bg_mask">
    </div>
    <div id="popDiv">
        <div>
            <h2 style="text-align: center;background-color:indianred;color:white;">注意</h2><br>
            <h4>1.请勿发布违反国家道德法律的文章</h4>
            <h4>2.请勿在评论区发布不良言论</h4>
        </div>
        <button id="canlDvi" style="margin-top: 15px;margin-left: 180px;" onclick="changeFlag()">确定</button>
    </div>
    {% for article in articles %} <!--从分页的对象列表中遍历文章-->
        <div class="panel panel-default"> <!--显示文章的面板-->
            <div class="panel-heading"> <!--面板的头部-->
                <h3 class="panel-title"> <!--放置内容标题-->
                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a>
                </h3>
            </div>
            <div class="panel-body"> <!--面板的主体-->
                <p>作者：{{ article.author.nickname }} &nbsp;日期：{{ article.pub_time }}
                </p>
                <p>{{ article.content|truncatechars:200|striptags }}</p> <!--过滤器用于仅显示200字符和去除HTML标签-->
                <a class="btn" href="{% url 'detail' article.id %}">进入阅读 »</a>
                {% if request.session.canEdit == 0%}
                    <a class="btn" href="{% url 'delete' article.id %}" onclick="return confirm('确认要删除？')">删除</a>
                {% endif %}
                {% if article.status.id == 3 %}
                    <small class="col align-self-end" style="color: black;font-size: 13px;">
                          浏览量: {{ article.total_views }}
                    </small>
                {% endif %}
                {% if article.status.id == 2 %}
                    <small class="col align-self-end" style="color: green;font-size: 13px;">
                          审核中
                    </small>
                {% endif %}
            </div>
        </div>
{#<script language="javascript">alert('博客主体转企业备案，未来一段时间首页将不能正常访问。售后服务联系博主Q20838641 ，敬请谅解')</script>#}


    {% endfor %}
<script type="text/javascript">
console.log("1")
var b = {{ request.session.flag }};
console.log(b)
if(b == "1"){
    $('#popDiv').css({'display':'block'});
    $(".bg_mask").css({'display':'block'});
}

function changeFlag() {
        $.ajaxSetup({ // 添加防止跨域攻击的代码
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        $.post('{% url 'changeFlag' %}',
            function (result) { // 回调函数获取返回结果
                    if (result === '200') { // 如果返回评论成功编码
                            $(".bg_mask").css({'display':'none'});
                            $('#popDiv').css({'display':'none'});
                    } else {
                            $(".bg_mask").css({'display':'block'});
                            $('#popDiv').css({'display':'block'});
                    }
         });
        setTimeout(function () { // 设置超时后执行的函数
             location.reload() // 重载页面内容
        },100);
}
{#$('.bg_mask').slideDown(1000);#}
function cancelDiv(){
    $(".bg_mask").css({'display':'none'});
    $('#popDiv').css({'display':'none'});
    {#return 0;#}
}

    // 删除文章的函数
{% comment %}
   function confirm_delete() {
        // 调用layer弹窗组件
        layer.open({
            // 弹窗标题
            title: "确认删除",
            // 正文
            content: "确认删除这篇文章吗？",
            // 点击确定按钮后调用的回调函数
            yes: function(index, layero) {
                // 指定应当前往的 url
                location.href='{% url "delete" article.id %}'
            },
        })
    }
{% endcomment %}
</script>
    {% if articles %}
    {% include 'paginator.html' %}
    {% endif %}
{% endblock %}
